<div class="header">
  <h1>Invoices system</h1>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a routerLink="/new-invoice" routerLinkActive="active">New invoice</a></li>
        <li><a routerLink="" routerLinkActive="active">Invoices</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
